/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark Blue: hsl(240, 38%, 20%)
- Grayish Blue: hsl(240, 18%, 77%)

## Typography

### Body Copy

- Font size: 32px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 300, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
    --darkBlue: hsl(240, 38%, 20%);
    --grayishBlue:  hsl(240, 18%, 77%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}


main {
    position: relative;
}

h1 {
    font-weight: 300;
}

.nameAndOcc {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 5px;
}

.nameAndOcc span {
    color: var(--grayishBlue);
    font-weight: normal;
    margin: 5px;
}
.testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.absolute {
    position: absolute;
    z-index: -1;
}

.bottomLeftCurve {
    position: absolute;
    bottom: -120px;
    left: 0;
}

.pattern {
    top: 60px;
    right: 80px;
}
.middleQuote {
    top: 27%;
    left: 17%;
}
.imgContainer {
    position: relative;
}

.prevBtn, .nextBtn {
    position: absolute;
    left: 0;
    bottom: 0;
}
.prevBtn {
    left: 20%;
}
.nextBtn {
    left: 25%;
}
.hidden {
    display: none;
}

.testimony-Header {
    width: 600px;
    margin: 3rem 3rem 0px;
   
}
.testimonyContent {
    z-index: 1;
}