/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark Blue: hsl(240, 38%, 20%)
- Grayish Blue: hsl(240, 18%, 77%)

## Typography

### Body Copy

- Font size: 32px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 300, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
    --darkBlue: hsl(240, 38%, 20%);
    --grayishBlue:  hsl(240, 18%, 77%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}


main {
    position: relative;
}

h1 {
    font-weight: 300;
}

.personContent {
    margin: 1rem 0px 0px;
}
.name {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 5px;
    display: inline-block;
}

.occupation {
    color: var(--grayishBlue);
    font-weight: normal;
    margin: 5px;
    display: inline-block;
}
.testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.absolute {
    position: absolute;
    z-index: -1;
}

.bottomLeftCurve {
    position: absolute;
    bottom: -120px;
    left: 0;
}

.pattern {
    top: 60px;
    right: 80px;
}
.middleQuote {
    top: 27%;
    left: 17%;
}
.imgContainer {
    position: relative;
    z-index: -1;
}

.prevBtn, .nextBtn {
    position: absolute;
    bottom: -20px;
    background-color: white;
}

.prevBtn {
    left: 14.5%;
    padding: 1rem 1.5rem;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.nextBtn {
    left: 25.6%;
    padding: 1rem 1.5rem;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.hidden {
    display: none;
}

.testimony-Header {
    width: 600px;
    margin: 3rem 3rem 0px;
    z-index: 2;
    
}
.testimonyContent {
    z-index: 1;
    
}

.profileImage {
    box-shadow: 0px 25px 25px 5px rgba(0,0,0, .2);
    width: 500px;
    height: 500px;

}

.prevBtn:hover, .nextBtn:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

@keyframes rightToLeft {
    from {
        transform: translateX(30px);
        opacity: .7;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes leftToRight {
    from {
        transform: translateX(-30px);
        opacity: .7;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}


@media (width < 1300px) {
    .imgContainer {
        margin-right: 5rem;
   }
   .testimony-Header {
    margin-left: 5rem;
   }
   .profileImage {
    width: 450px;
    height: 450px;
   }
   h1 {
    font-size: 1.6rem;
   }
}